# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
*.iml
*.class
.gradle/
local.properties
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore

# iOS
*.xcworkspace
Pods/
.symlinks/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.swp
*.lock

# IDEs
.idea/
.vscode/
*.ipr
*.iws

# Generated
pubspec.lock
